@model Models.Compra

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fazendo Compras</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FarmaceuticoId, "FarmaceuticoId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FarmaceuticoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FarmaceuticoId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Codigo_de_Barra, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("Codigo_de_Barra", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.EditorFor(model => model.Codigo_de_Barra, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Codigo_de_Barra, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProdutosId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProdutosId", null, htmlAttributes: new { @class = "form-control" })
            @*@Html.EditorFor(model => model.ProdutosId, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.ProdutosId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataCompra, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataCompra, new { htmlAttributes = new { type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataCompra, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Comprar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("Index") " style="color: #ffffff">Voltar </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
